
  html, body{
	height: 100%;
  }

  .parallax {
	height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
	
  .bg1{
	background-image: url("https://cdn.shopify.com/s/files/1/0051/0392/t/45/assets/frontpage_collection_4_banner.jpg?v=45106796480407524421682014717");
  }
  
  .bg2 {
	background-image: url("https://cdn.shopify.com/s/files/1/0213/3288/files/11-IMG_8385_1400x.jpg?v=1676063747");
  }
  h1{
	line-height: 50vh;
	color: aliceblue;
	text-align: center;background-color: black;
  }

  h2{
	line-height: 100vh;
	color:aliceblue;
	text-align: center;
  }